<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DelapanJayaFarm"
        tools:targetApi="31">

        <activity
            android:name=".ui.screens.mitra.jadwal.LogMitraActivity"
            android:exported="false"
            android:label="@string/title_activity_log_mitra"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.mitra.home.SapiMitraActivity"
            android:exported="false"
            android:label="@string/title_activity_sapi_mitra"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.pemesanan.KonfirmasiPemesananActivity"
            android:exported="false"
            android:label="@string/title_activity_konfirmasi_pemesanan"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.home.SetHargaActivity"
            android:exported="false"
            android:label="@string/title_activity_set_harga"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.jadwal.LogActivity"
            android:exported="false"
            android:label="@string/title_activity_log"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.home.AddSapiActivity"
            android:exported="false"
            android:label="@string/title_activity_add_sapi"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.jadwal.EditJadwalActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_jadwal"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.jadwal.AddJadwalActivity"
            android:exported="false"
            android:label="@string/title_activity_add_jadwal"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.home.SapiActivity"
            android:exported="false"
            android:label="@string/title_activity_add_jadwal"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.users.EditMitraActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_mitra"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.users.AddMitraActivity"
            android:exported="false"
            android:label="@string/title_activity_add_mitra"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.users.EditAdminActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_admin"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".ui.screens.admin.users.AddAdminActivity"
            android:exported="false"
            android:label="@string/title_activity_add_admin"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.DelapanJayaFarm" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DelapanJayaFarm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DelapanJayaFarm">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>